<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <!--<img src="images/frontImg.jpg" alt="">-->
        <!-- <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div> -->
      </div>
      <div class="back">
        <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          
        <div class="signup-form">
          <div class="title">Signup</div>
        <form method= 'POST' action="/signup">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" name="USER_NAME" id="USER_NAME" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="EMAIL_ID" id="EMAIL_ID" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="USER_PASSWORD" id="USER_PASSWORD" placeholder="Enter your password" required>
              </div>
              
              <div class="text sign-up-text">Already have an account? <button >
                <a href="/">login</a>
              </button></div>
              <div class="button input-box">
                <!-- <input type="submit" value="Extract Embeddings"> -->
                <button type="submit">Extract Embeddings</button>
              </div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</body>
</html>
